.blkhd {
  margin: 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  list-style-type: none;
  background-color: #6666ff;
  color: black;
}
.act {
  color: black;
  background-color: lightgray;
}
.blk {
  font-family: sans-serif;
  display: inline-block;
  padding: 5px;
  color: black;
}
.blk:hover {
  background-color: lightgray;
}
.green {
  background-image: url(http://apk.li/branch.jpg);
  background-position: -150px -20px;
}
.green a {
  color: white;
}
.green a:hover {
  color: black;
}
.undec {
  text-decoration: none;
  color: black;
}
body {
  margin: 0pt;
}
